<div data-role="page" id="page1">
    <div data-theme="b" data-role="header">
        <h3>
            OTA Server
        </h3>
    </div>
    <div data-role="content">
		<ul data-role="listview" data-divider-theme="e" data-inset="true">
            <li data-role="list-divider" role="heading">
                找不到页面！  
            </li>
        </ul>
		<ul data-role="listview" data-divider-theme="e" data-inset="true">
            <li data-theme="">
                <a href="/" data-ajax="false" data-transition="slide">
                    返回首页
                </a>
            </li>
        </ul>
    </div>
</div>
