<!-- Home -->
<div data-role="page" id="page1">
    <div data-theme="b" data-role="header">
        <h3>
            OTA Server (<%= version %>)
        </h3>
    </div>
    <div data-role="content">
        <% if (success) { %>
		<ul data-role="listview" data-divider-theme="e" data-inset="true">
            <li data-role="list-divider" role="heading">
                <%= success %>
            </li>
        </ul>
        <% } %>
        <% if (error) { %>
		<ul data-role="listview" data-divider-theme="e" data-inset="true">
            <li data-role="list-divider" role="heading">
                <%= error %>
            </li>
        </ul>
        <% } %>
        <ul data-role="listview" data-divider-theme="b" data-inset="true">
            <li data-role="list-divider" role="heading">
                选择项目
            </li>
            <li data-theme="">
                <a href="/newPrj" data-ajax="false" data-transition="slide">
                    创建新项目
                </a>
            </li>
			<%- partial('prj', prjs) %>
        </ul>
    </div>
</div>