<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black" />
      <title>
		  <%= title %> - OTA Server
      </title>
      <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
      </script>
      <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.2.0/jquery.mobile-1.2.0.min.js">
      </script>
	  <style type="text/css">
	  <!--
	  .fl_del{color:red}
	  .fl_edit{color:blue}
	  .fl_time{color:gray}
	  .fl_name{color:black}
	  .fl_comment{color:green}
	  -->
	  </style>
  </head>
  <body>
      <div id="container" class="container">
        <%- body %>
      </div>
  </body>
</html>