<script language="JavaScript">
  function checkSubmit(form){
  	if(form.prjname.value.length==0)
  	{
  		alert("请输入项目名称!");
		return false;
  	}
	return true;
  }
</script>
<div data-role="page" id="page1">
    <div data-theme="b" data-role="header">
        <a data-role="button" href="/" data-icon="arrow-l" data-iconpos="left"
        class="ui-btn-left">
            返回
        </a>
        <h3>
            创建项目
        </h3>
    </div>
    <div data-role="content">
        <form method="POST" data-ajax="false">
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="prjname">
                        项目名称
                    </label>
                    <input name="prjname" id="prjname" placeholder="" value="" type="text">
                </fieldset>
            </div>
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="appleAppIDs">
                        iOS AppID
                    </label>
                    <textarea name="appleAppIDs" id="appleAppIDs" placeholder="零或多个，用空格或换行分开"></textarea>
                </fieldset>
            </div>
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="groups">
                        分组（可添加，用空格或换行分开）
                    </label>
                    <textarea name="groups" id="groups" placeholder="一或多个，用空格或换行分开">iOS Android 其他</textarea>
                </fieldset>
            </div>
			<input data-theme="b" data-icon="star" data-iconpos="right" value="创建" type="submit" onClick="return checkSubmit(this.form)">
        </form>
    </div>
    <% if (success) { %>
		<div data-role="content" id="success">
			<p><%= success %><p>
		</div>
    <% } %>
    <% if (error) { %>
		<div data-role="content" id="error">
			<p><%= error %><p>
		</div>
    <% } %>
</div>